## The data here is of generic interest to modules in different namespaces hence this is marked as global.
## Replace your domain names here.
## mosip-api-host:  External public access. (Typically required only in production rollouts).
## mosip-api-internal-host: Internal secure access over Wireguard.
## By default all domains and subdomains listed below point to mosip-api-internal-host. Modify this default behavior ONLY in production rollout as follows:
##     mosip-prereg-host:  Points to mosip-api-host.
##     mosip-pmp-host: Points to mosip-api-host.

apiVersion: v1
kind: ConfigMap
metadata:
  name: global
  namespace: default
data:
  installation-name: oci-mosip-sandbox
  installation-domain: MOSIP_PRIMARY_DOMAIN
  mosip-version: develop
  mosip-api-host: api.MOSIP_PRIMARY_DOMAIN
  mosip-api-internal-host: api-internal.MOSIP_PRIMARY_DOMAIN
  mosip-prereg-host: prereg.MOSIP_PRIMARY_DOMAIN
  mosip-activemq-host: activemq.MOSIP_PRIMARY_DOMAIN
  mosip-kibana-host: kibana.MOSIP_PRIMARY_DOMAIN
  mosip-admin-host: admin.MOSIP_PRIMARY_DOMAIN
  mosip-regclient-host: regclient.MOSIP_PRIMARY_DOMAIN
  mosip-minio-host: minio.MOSIP_PRIMARY_DOMAIN
  mosip-kafka-host: kafka.MOSIP_PRIMARY_DOMAIN
  mosip-iam-external-host: iam.MOSIP_PRIMARY_DOMAIN
  mosip-idp-host: idp.MOSIP_PRIMARY_DOMAIN
  mosip-postgres-host: postgres.MOSIP_PRIMARY_DOMAIN
  mosip-pmp-host: pmp.MOSIP_PRIMARY_DOMAIN
  mosip-resident-host: resident.MOSIP_PRIMARY_DOMAIN
  mosip-compliance-host: compliance.MOSIP_PRIMARY_DOMAIN
  mosip-esignet-host: esignet.MOSIP_PRIMARY_DOMAIN
  mosip-smtp-host: smtp.MOSIP_PRIMARY_DOMAIN
  is_glowroot_env: absent
